.venv/
__pycache__/
model.pth
model_and_optimizer.pth
gpt2/
sms_spam_collection/
sms_spam_collection.zip
test.csv
train.csv
validation.csv
classifier.pth
model_and_optimizer_classfier.pth
*.pdf
instruction-data.json
*.pth
instruction-data-with-response.json
.env